<div class="facade-item-detail-variant-property facade-variant-property-text">
    <h3 class="facade-variant-property-title">{propertyName}:&nbsp;<span
            class="facade-variant-property-value">{propertyValue}</span></h3>
    <ul>
        {propertyOptions}
        <!--
        <li class="selected">
            <a>
                <p class="facade-variant-option-text">iPhone 13 Pro/13 Pro Max</p>
                <p class="facade-variant-option-price">$14.95</p>
            </a>
        </li>
        -->
    </ul>
</div>