<article class="facade-item-card">
    <section class="facade-item-card-info">
        <a href="{productURL}">
            <div class="facade-item-card-img">
                <img src="{productImage}">
            </div>
            <h3>{productName}</h3>
            <div class="facade-item-detail-price">
                <span class="facade-sr-only">${param:priceWhole}.{param:priceDecimal}</span>
                <div class="facade-price-md" aria-hidden="true">
                    ${param:priceWhole}
                    <span class="facade-price-end">{param:priceDecimal}</span>
                </div>
            </div><!--
            <div class="facade-item-detail-review">
                {feedbackStars}
                <div class="facade-review-aggregate">
                    ({reviewCount})
                </div>
            </div>-->
        </a>
    </section>
    <section class="facade-item-card-addtocart"><!--
        <form class="facade-form facade-item-detail-addform" data-form="Facade.Cart.AddItem">
            <input type="hidden" name="sku" value="{param:productSKU}">
            <button type="submit" class="facade-btn-addtocart">Add to Cart</button>
        </form>-->
    </section>
</article>