<div id="gallery-{id}" class="facade-item-recommended-slider gallery-slider" data-loop="{doLoop}">
    <button class="gallery-slider-control gallery-slider-prev" data-target="gallery-{id}" data-slide="prev">
        <svg class="icon" viewBox="0 0 32 32">
            <path
                d="M3.5 16a1 1 90 00.29.74l6.91 7a1 1 90 001.48 0a1.06 1.06 90 000-1.49L6.08 16 12.21 9.82a1.06 1.06 90 000-1.49a1 1 90 00-1.48 0l-6.91 7A1 1 90 003.5 16Z">
            </path>
        </svg>
    </button>
    <button class="gallery-slider-control gallery-slider-next" data-target="gallery-{id}" data-slide="next">
        <svg class="icon" viewBox="0 0 32 32">
            <path
                d="M12.5 16a1 1 90 01-.29.74l-6.91 7a1 1 90 01-1.48 0a1.06 1.06 90 010-1.49L9.92 16 3.79 9.82a1.06 1.06 90 010-1.49a1 1 90 011.48 0l6.91 7A1 1 90 0112.5 16Z">
            </path>
        </svg>
    </button>
    <div class="gallery-slider-track">
        {recommendSlides}
    </div>
</div>