<div class="facade-item-detail-variant-property facade-variant-property-color">
    <h3 class="facade-variant-property-title">{propertyName}:&nbsp;<span
            class="facade-variant-property-value">{propertyValue}</span></h3>
    <ul>
        {propertyOptions}
        <!--
        <li class="selected">
            <a>
                <div class="facade-variant-option-color"
                    style="background: rgb(255,255,255);background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 40%, rgba(153,153,153,1) 60%, rgba(122,122,122,1) 100%);">
                </div>
                <p class="facade-variant-option-text">Clear</p>
            </a>
        </li>
        -->
    </ul>
</div>