<div class="facade-item-detail-variant-property facade-variant-property-thumbnail">
    <h3 class="facade-variant-property-title">{propertyName}:&nbsp;<span
            class="facade-variant-property-value">{propertyThumbnail}</span></h3>
    <ul>
        {propertyOptions}
        <!--
        <li class="selected">
            <a>
                <div class="facade-variant-option-thumbnail">
                    <img src="https://w7.pngwing.com/pngs/491/301/png-transparent-paper-corrugated-fiberboard-cardboard-box-corrugated-box-design-cardboard-box-miscellaneous-angle-cardboard-thumbnail.png"
                        alt="Square">
                </div>
                <p class="facade-variant-option-text">Square</p>
            </a>
        </li>
        -->
    </ul>
</div>